# Discord Bot Token
DISCORD_TOKEN=your_discord_bot_token_here

# Discord Server ID
GUILD_ID=your_discord_guild_id_here

# Steam Trade URL of your bot/account
BOT_STEAM_TRADE_URL=https://steamcommunity.com/tradeoffer/new/?partner=YOUR_PARTNER_ID&token=YOUR_TOKEN

# Shockbyte / Pterodactyl SFTP Credentials
SFTP_HOST=sftp.yourhost.com
SFTP_PORT=2222
SFTP_USER=your_sftp_user
SFTP_PASS=your_sftp_password
SFTP_BASE_DIR=/1. WORLD
