# Environment variables
.env

# Data & Order Databases
data/
*.json
!data/.gitkeep

# Sensitive Steam credentials
bot.maFile
*.maFile
steam_account_data/
upload_*.py
deploy_*.py

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.log
